<div class="container" style="">
    <div class="box-style">
        <span class="cure-title">Cure</span>
    </div>


    <div class="col-md-12 col-sm-12 justify-content-center row ml-auto mr-auto" style="    padding-top: 80px;">
        <div class="align-content-center col-md-2 col-sm-12 justify-content-center row tile" (click)="openModal('ckg')">
        <img src="../../../assets/images/ckd.png" style="height: 100px">
        </div>
        <div class="align-content-center col-md-2 col-sm-12 justify-content-center row tile" (click)="openModal('heart')">
        <img src="../../../assets/images/heart.png" style="height: 100px">
        </div>
        <div class="align-content-center col-md-2 col-sm-12 justify-content-center row tile" (click)="openModal('mos')">
        <img src="../../../assets/images/mos.png" style="height: 100px">
        </div>

        
    </div>
</div>
